<section class="profile">
  <div class="profile__total">
    {{#if preTour}}
    <div class="profile__total-title">
      <p>Total Expense</p>
      <p>0.0$/0.0$</p>
    </div>
    <progress class="profile__total-progress progress" max="100" value=""></progress>
    <a href="/my-wallet/plan/add-income">
      <i class="fa fa-plus-circle profile__total-plan"></i>
    </a>
    <div class="profile__total-notify">
      First Step, click this icon to
      add income to your wallet
    </div>
  </div>
  {{else}}
  <div class="user">
    <p>Wellcome {{username}}</p>
    <p class="user__period">Wallet from <span class="start">{{start}}</span> to <span class="end">{{end}}</span></p>
  </div>
  <div class="profile__total-title">
    <p>Total Expense</p>
    <p><span class="totalExp">{{totalExpenses}}</span>$/<span class="income">{{income}}</span>$</p>
  </div>
  <progress id="mainProgress" class="profile__total-progress progress {{colorIncome}}" max="100" value={{totalPercentage}}></progress>
  {{#if disable}}
  <a title="this button is disable">
    <i class="fa fa-plus-circle profile__total-plan"></i>
  </a>
  {{else}}
  <a href="/my-wallet/plan/add-income">
    <i class="fa fa-plus-circle profile__total-plan"></i>
  </a>
  {{/if}}
  </div>
  <div class="profile__expenses">
    <p class="profile__expenses-title">Your Expenses : </p>
    {{#each categories}}
    <div>
    <div class="profile__expenses-description">
      <p>{{name}}</p>
      <p><span class="total">{{totalexpcat}}</span>$/<span class="amount">{{amount}}</span>$</p>
    </div>
    <progress class="profile__expenses-progress progress {{color}}" max="100" value={{percentage}}></progress>
    <a class="profile__expenses-add-ico">
      <i class="fa fa-plus-circle profile__expenses-add" id={{categoryid}}></i>
    </a>
    <a href="/profile/transactions/{{categoryid}}"><i class="far fa-list-alt profile__expenses-display"></i></a>
    </div>
    {{/each}}
  </div>
  {{/if}}
</section>
